@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 1000px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: 'Montserrat', sans-serif;
  font-size: .85em;
  color: #888;
  background-color: white;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
}

h1, h2 {
  font-weight: 600;
}

#particles-js {
  position: absolute;
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100%;
  z-index: 900;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 100px;
  z-index: 900;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

header .logo {
  position: relative;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

header .logo .sign,
header .logo .sign2 {
  font-family: 'Rubik', sans-serif;
}

header .logo .sign {
  display: inline-block;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  font-size: 45px;
}

header .logo .sign2 {
  display: inline-block;
  font-size: 45px;
}

header ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header ul li {
  position: relative;
  list-style: none;
}

header ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 300;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

header .toggle {
  display: none;
}

header.sticky {
  padding: 5px 100px;
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

header.sticky .logo,
header.sticky ul li a {
  color: #000;
}

.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: url(images/bg.png);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner .container {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
}

.banner .container span {
  display: block;
}

.banner .container .text1 {
  color: white;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 8px;
  position: relative;
  -webkit-animation: text1 2.5s 1;
          animation: text1 2.5s 1;
  margin-bottom: -25px;
  text-transform: uppercase;
}

.banner .container .text1 .dot {
  font-family: Arial, Helvetica, sans-serif;
}

.banner .container .text2 {
  color: white;
  font-size: 30px;
  -webkit-animation: text2 2.5s 1;
          animation: text2 2.5s 1;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 5px;
}

@-webkit-keyframes text1 {
  0% {
    color: white;
    margin-bottom: -60px;
  }
  30% {
    letter-spacing: 25px;
    margin-bottom: -60px;
  }
  85% {
    letter-spacing: 8px;
    margin-bottom: -60px;
  }
}

@keyframes text1 {
  0% {
    color: white;
    margin-bottom: -60px;
  }
  30% {
    letter-spacing: 25px;
    margin-bottom: -60px;
  }
  85% {
    letter-spacing: 8px;
    margin-bottom: -60px;
  }
}

@-webkit-keyframes text2 {
  0% {
    color: transparent;
  }
  30% {
    color: transparent;
  }
  85% {
    color: transparent;
  }
}

@keyframes text2 {
  0% {
    color: transparent;
  }
  30% {
    color: transparent;
  }
  85% {
    color: transparent;
  }
}

.sec {
  background: #fff;
  padding: 100px;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sec .content {
  position: relative;
  text-align: center;
  width: 100%;
}

.sec .content .description {
  max-width: 800px;
  margin: 0 auto;
}

.sec .content .description h3 {
  font-size: 40px;
  font-weight: 200;
  margin-bottom: 10px;
}

.sec .content .description p {
  position: relative;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.sec .content .description .btn {
  position: relative;
  display: inline-block;
  padding: 10px 30px;
  background: #6d31c9;
  text-decoration: none;
  color: #fff;
  border-radius: 25px;
}

.sec .content .qualifications {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(220px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: 30px;
  max-width: 100%;
  margin-top: 40px;
}

.sec .content .qualifications .box {
  width: 300px;
  margin: 0 auto;
  background: #fff;
  padding: 20px;
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.05);
          box-shadow: 0 15px 30px rgba(0, 0, 0, 0.05);
}

.sec .content .qualifications .box .iconBx {
  margin-top: 25 px;
}

.sec .content .qualifications .box .iconBx img {
  max-width: 70px;
  margin-bottom: 15px;
}

.sec .content .qualifications .box h2 {
  font-size: 18px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 700;
}

.sec .content .qualifications .box p {
  position: relative;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.sec .content .main {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(220px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: 30px;
  max-width: 100%;
  margin-top: 40px;
}

.sec .content .main .photo,
.sec .content .main .description {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.sec .content .main .photo img.programmer {
  width: 100%;
  max-width: 450px;
  height: auto;
  margin: 0 auto;
}

.sec .content .main .grid-container {
  margin-top: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  gap: 8px 8px;
      grid-template-areas: "html css-scss js" "react rwd php" "git git-hub-lab photoeditor" ". . .";
  width: 100%;
  padding: 0;
  min-width: 200px;
  max-width: 100%;
  position: relative;
  left: 0;
  float: left;
}

.sec .content .main .grid-container div img {
  max-height: 110px;
  max-width: 100px;
}

.sec .content .main .grid-container .html {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: html;
}

.sec .content .main .grid-container .css-scss {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: css-scss;
}

.sec .content .main .grid-container .js {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: js;
}

.sec .content .main .grid-container .react {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: react;
}

.sec .content .main .grid-container .rwd {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: rwd;
}

.sec .content .main .grid-container .php {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: php;
}

.sec .content .main .grid-container .git {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: git;
}

.sec .content .main .grid-container .git-hub-lab {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: git-hub-lab;
}

.sec .content .main .grid-container .photoeditor {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: photoeditor;
}

.sec .content .containerknowledge {
  margin-top: 90px;
}

.sec .content .containerknowledge .titleknowledge {
  margin-bottom: 50px;
  font-weight: 200;
  font-size: 32px;
}

.sec .content .containerknowledge .option {
  font-size: 15px;
  position: relative;
  display: inline-block;
  padding: 10px 40px;
  background: #6d31c9;
  text-decoration: none;
  color: #fff;
  border-radius: 500px;
  margin: 30px;
  margin-top: 5px;
}

.sec .content .containerknowledge .option:hover {
  background: #6e31c9e9;
  cursor: default;
}

.sec .content .githubcontainer {
  margin-top: 120px;
}

.sec .content .githubcontainer .githubcontainer-title {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 25px;
}

.sec .content .githubcontainer .github-link {
  position: relative;
  display: inline-block;
  padding: 20px 30px;
  background: #6d31c9;
  text-decoration: none;
  color: #f2f2f2;
  border-radius: 500px;
  margin: 30px;
  margin-top: 5px;
}

.sec .content .githubcontainer .github-link i {
  font-size: 40px;
}

.sec .content .githubcontainer .github-link:hover {
  cursor: pointer;
  color: #d0d0d0;
}

.sec .content .projectBx {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(220px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: 30px;
  max-width: 100%;
  margin-top: 40px;
}

.sec .content .projectBx .project-container {
  position: relative;
  background: #000;
  min-height: 300px;
  width: 250px;
  max-width: 250px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sec .content .projectBx .project-container .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 0 7px rgba(33, 33, 33, 0.2);
          box-shadow: 0 0 7px rgba(33, 33, 33, 0.2);
}

.sec .content .projectBx .project-container .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.sec .content .projectBx .project-container .technologies {
  color: lightgray;
  position: absolute;
  top: 80%;
  left: 0;
  width: 100%;
  height: 20%;
  background-color: rgba(0, 0, 0, 0.7);
  outline: 0.5px solid darkgrey;
}

.sec .content .projectBx .project-container .technologies p {
  font-size: 12px;
}

.sec .content .projectBx .project-container .technologies p .html {
  color: #e44c24;
}

.sec .content .projectBx .project-container .technologies p .scss {
  color: #c4548c;
}

.sec .content .projectBx .project-container .technologies p .css {
  color: #735f92;
}

.sec .content .projectBx .project-container .technologies p .sass {
  color: #a43c74;
}

.sec .content .projectBx .project-container .technologies p .javascript {
  color: #f3e35b;
}

.sec .content .projectBx .project-container .technologies p .rwd {
  color: #2cf3d4;
}

.sec .content .projectBx .project-container .technologies p .bootstrap {
  color: #6f41b3;
}

.sec .content .projectBx .project-container .technologies p .php {
  color: #364da3;
}

.sec .content .projectBx .project-container .technologies p .jquery {
  color: #0868ab;
}

.sec .content .projectBx .project-container .technologies p .react {
  color: #61dbfb;
}

.sec .content .projectBx .project-container .technologies p .jsx {
  color: red;
}

.sec .content .projectBx .project-container .technologies p .more {
  color: white;
}

.sec .content .projectBx .project-container .details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #000;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 0;
}

.sec .content .projectBx .project-container:hover .details {
  opacity: 1;
}

.sec .content .projectBx .project-container .details h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1px;
}

.sec .content .projectBx .project-container .details h2 span {
  display: block;
  font-size: 12px;
  font-weight: 300;
}

#education.sec {
  background: url(images/dots.png);
  background-position: center;
  background-size: cover;
}

.timeline-container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}

.timelinecontainer::after {
  content: '';
  display: table;
  clear: both;
}

#timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}

#timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.timeline-block {
  position: relative;
  margin: 2em 0;
}

.timeline-block:after {
  content: "";
  display: table;
  clear: both;
}

.timeline-block:first-child {
  margin-top: 0;
}

.timeline-block:last-child {
  margin-bottom: 0;
}

.timeline-img {
  background: #6d31c9;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.timeline-content {
  position: relative;
  margin-left: 60px;
  background: white;
  border-radius: 2.5em;
  padding: 1em;
  -webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 7px rgba(0, 0, 0, 0.15);
}

.timeline-content:after {
  content: "";
  display: table;
  clear: both;
}

.timeline-content h2 {
  color: #303e49;
}

.timeline-content p, .timeline-content {
  font-size: 12px;
  font-size: 0.7125rem;
}

.timeline-content .timeline-content {
  display: inline-block;
}

.timeline-content p {
  font-weight: 300;
  margin: 1em 0;
  line-height: 1.6;
  position: relative;
  font-weight: 300;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}

li.html:after {
  -webkit-animation-name: html;
          animation-name: html;
}

@-webkit-keyframes html {
  to {
    width: 95%;
  }
}

@keyframes html {
  to {
    width: 95%;
  }
}

li.css:after {
  -webkit-animation-name: css;
          animation-name: css;
}

@-webkit-keyframes css {
  to {
    width: 94%;
  }
}

@keyframes css {
  to {
    width: 94%;
  }
}

li.js:after {
  -webkit-animation-name: js;
          animation-name: js;
}

@-webkit-keyframes js {
  to {
    width: 85%;
  }
}

@keyframes js {
  to {
    width: 85%;
  }
}

li.php:after {
  -webkit-animation-name: php;
          animation-name: php;
}

@-webkit-keyframes php {
  to {
    width: 60%;
  }
}

@keyframes php {
  to {
    width: 60%;
  }
}

li.sql:after {
  -webkit-animation-name: sql;
          animation-name: sql;
}

@-webkit-keyframes sql {
  to {
    width: 50%;
  }
}

@keyframes sql {
  to {
    width: 50%;
  }
}

li.cpp:after {
  -webkit-animation-name: cpp;
          animation-name: cpp;
}

@-webkit-keyframes cpp {
  to {
    width: 38%;
  }
}

@keyframes cpp {
  to {
    width: 38%;
  }
}

li.react:after {
  -webkit-animation-name: react;
          animation-name: react;
}

@-webkit-keyframes react {
  to {
    width: 82%;
  }
}

@keyframes react {
  to {
    width: 82%;
  }
}

.contact {
  background: url(images/contactbg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.contact .content .description h3, .contact .content .description p {
  color: #fff;
}

.contact .content .copyright {
  color: #fff;
  position: relative;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.contact .content .copyright a {
  color: #fff;
}

.contact .content .sm a {
  margin: 20px 20px;
  width: 80px;
  height: 80px;
  background-color: #ccc;
  display: inline-block;
  border-radius: 24px;
  -webkit-box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.15), -6px -6px 12px rgba(255, 255, 255, 0.1);
          box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.15), -6px -6px 12px rgba(255, 255, 255, 0.1);
  overflow: hidden;
  font-size: 28px;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  position: relative;
}

.contact .content .sm a:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  border-radius: 50%;
}

div.sm a i::before {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  background-size: 200% 200%;
  background-position: 75% 75%;
  top: 0;
  left: 0;
  line-height: 80px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: background .5s linear;
  transition: background .5s linear;
}

div.sm a:hover i::before {
  background-position: 0% 0%;
}

.fa-facebook-f::before {
  background-image: linear-gradient(135deg, #3b5998 30%, #0a3d62 50%);
}

.fa-instagram::before {
  background-image: linear-gradient(135deg, #c32aa3 30%, #0a3d62 50%);
}

.fa-envelope::before {
  background-image: linear-gradient(135deg, #d71e18 30%, #0a3d62 50%);
}

.fa-linkedin-in::before {
  background-image: linear-gradient(135deg, #007bb5 30%, #0a3d62 50%);
}

.fa-linkedin-in::before {
  background-image: linear-gradient(135deg, #007bb5 30%, #0a3d62 50%);
}

.fa-github::before {
  background-image: linear-gradient(135deg, #007bb5 30%, #0a3d62 50%);
}
/*# sourceMappingURL=style.css.map */